<!-- <div class="delete-box">
  <h3>Confirmar eliminación</h3>

  <p>
    ¿Desea retirar el proyecto <strong>"{{ data.proyecto }}"</strong> del área?
  </p>

  <div class="actions">
    <button class="btn cancelar" (click)="cancelar()">Cancelar</button>
    <button class="btn eliminar" (click)="confirmar()">Eliminar</button>
  </div>
</div> -->

<div class="delete-box">

  <span class="material-icons icon-warning">warning</span>

  <h3>Confirmar eliminación</h3>

  <p>
    ¿Desea retirar el proyecto <strong>"{{ data.proyecto }}"</strong> del área?
  </p>

  <div class="actions">
    <button class="btn cancelar" (click)="cancelar()">Cancelar</button>
    <button class="btn eliminar" (click)="confirmar()">Eliminar</button>
  </div>
</div>
