<h2>Editar Usuario</h2>

<div class="form-grid">
    <div class="field">
        <label>Nombre</label>
        <input type="text" [value]="data.nombre" >
    </div>

    <div class="field">
        <label>Apellidos</label>
        <input type="text" [value]="data.apellido">
    </div>

    <div class="field">
        <label>DNI</label>
        <input type="text" [value]="data.dni">
    </div>

    <div class="field">
        <label>Sexo</label>
        <select [(ngModel)]="data.sexo" name="sexo">
            @for (sexo of sexos; track sexo.value) {
            <option [value]="sexo.value"> {{ sexo.viewValue }}</option>
            }
        </select>
    </div>

    <div class="field">
        <label>Teléfono</label>
        <input type="text" [value]="data.telefono">
    </div>

    <div class="field">
        <label>Dirección</label>
        <input type="text" [value]="data.direccion">
    </div>

    <div class="field">
        <label>Área</label>
        <select [(ngModel)]="data.area" name="area">
            @for (area of areas; track area) {
            <option [value]="area.value"> {{ area.viewValue }}</option>
            }
        </select>
    </div>

    <div class="field">
        <label>Rol</label>
        <select [(ngModel)]="data.rol" name="rol">
            @for (rol of roles; track rol) {
            <option [value]="rol.value"> {{ rol.viewValue }}</option>
            }
        </select>
    </div>

</div>

<div class="actions">
    <button class="btn cancel" (click)="NoClick()">Cancelar</button>
    <button class="btn create" [mat-dialog-close]="Guardar()">+ Guardar</button>
</div>