/* .delete-box {
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
}

h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

p {
  font-size: 15px;
  margin-bottom: 20px;
  color: #444;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

.btn.cancelar {
  background: #e0e0e0;
}

.btn.eliminar {
  background: #d9534f;
  color: white;
} */


.delete-box {
  background: #fff;
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 25px 30px;
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
}

.icon-warning {
  font-size: 60px;
  color: #d9534f;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.4;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  border-top: 1px dashed #ccc;
  padding-top: 15px;
  margin-top: 20px;
}

.btn {
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  border: none;
  transition: all 0.3s ease;
}

.btn.cancel {
  background-color: #fff;
  color: #6868dc;
  border: 1px solid #6868dc;
}

.btn.cancel:hover {
  background-color: rgba(104, 104, 220, 0.07);
}

.btn.create {
  background-color: #d9534f;
  color: white;
}

.btn.create:hover {
  background-color: #c64543;
}
