<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<div class="layout">

    <aside class="sidebar" [class.nav2-activo]="isActive">
        <div *ngIf="!nav2_isActiv">
            <div class="sidebar-header">
                <img src="https://cdn-icons-png.flaticon.com/512/906/906175.png" alt="logo">
            </div>

            <nav class="menu">
                <p class="line">— — — — — — — — — — — — — — — — — — —</p>
                <p class="menu-title">Áreas</p>
                <div class="header-card">
                    <img src="https://cdn-icons-png.flaticon.com/512/4333/4333609.png" alt="logo" class="header-logo" />

                    <div class="header-title">
                        <h3>Desarrollo de</h3>
                        <h3>Software</h3>
                    </div>

                    <button class="menu-btn">
                        <span class="material-symbols-outlined"> menu </span>
                    </button>
                </div>

                <ul>
                    <li>Dashboard</li>
                    <li routerLink="/layout/proyectos" routerLinkActive="active" (click)="setActivo('GESTION_PROYECTOS')"  [class.activo]="botonActivo === 'GESTION_PROYECTOS'">Gestión Proyectos</li>
                    <li routerLink="/layout/participantes" routerLinkActive="active" (click)="setActivo('PARTICIPANTES')"  [class.activo]="botonActivo === 'PARTICIPANTES'">Participantes</li>
                </ul>

                <p class="line">— — — — — — — — — — — — — — — — — — —</p>
                <p class="menu-title">Proyectos</p>
                <ul>
                    <li  (click)="expandir()">Pr. Análisis del Sistema</li>
                    <li>Pr. Diseño del Sistema</li>
                    <li>Pr. Desarrollo del Sistema</li>
                </ul>

                <ng-container *ngIf="isAdmin">
                    <p class="line">— — — — — — — — — — — — — — — — — — —</p>
                    <ul>
                        <li routerLink="/layout/usuarios" routerLinkActive="active" (click)="setActivo('GESTION_USUARIOS')" [class.activo]="botonActivo === 'GESTION_USUARIOS'">Gestionar Usuarios</li>
                        <li routerLink="/layout/areas" routerLinkActive="active" (click)="setActivo('GESTION_AREAS')" [class.activo]="botonActivo === 'GESTION_AREAS'">Gestionar Áreas</li>
                    </ul>
                </ng-container>
                </nav>
        </div>
    </aside>

    <aside class="sidebar sidebar-right" *ngIf="nav2_isActiv">
        <nav class="menu2">
            <span class="material-symbols-outlined regresar" (click)="regresar()">
                arrow_back
            </span>

            <div class="sidebar-header">
                <img src="https://cdn-icons-png.flaticon.com/512/906/906175.png" alt="logo">
            </div>
            <hr>
            <ul>
                <li>Proyecto Dashboard</li>
                <li>Participantes</li>
                <li>Backlog</li>
                <li>Reportes</li>
            </ul>
            <hr>
            <p class="menu-title2">Sprints</p>

            <div>
                <div class="sprint_title">
                    <p># Sprint 1</p>

                    <span class="material-symbols-outlined flecha">
                        chevron_right
                    </span>
                </div>
                <ul>
                    <li class="sprint_second"># Sprint Planing </li>
                    <li class="sprint_second"># Sprint Task Board</li>
                    <li class="sprint_second"># Sprint Review / Retrospective</li>
                </ul>
            </div>
        </nav>
    </aside>

    <main class="main">
        <header class="topbar">
            <div class="user" (click)="logout()" style="cursor: pointer;" title="Cerrar sesión">
                <span class="material-symbols-outlined">account_circle</span>
                <span>{{ userName }}</span>
            </div>
        </header>
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </main>

</div>